{% extends "base_generic.html" %}

{% block content %}
<h1>The Tennis Center</h1>

  <p>Welcome to <em>The Tennis Center</em>, a place to manage your tennis needs.</p>

<h2>Dynamic content</h2>

  <p>The tennis center has the following record counts:</p>
  <ul>
    <!-- <li><strong>Customers:</strong> {{ num_customers }}</li>
    <li><strong>Instructors:</strong> {{ num_instructors }}</li>
    <li><strong>Membership Plans:</strong> {{ num_membership_plans }}</li> -->
  </ul>

  <h3>Select Query</h3>
	<form action="/tenniscenter/selection/" method="post">
    {% csrf_token %}
    <table>
    {{ select_instructors.as_table }}
    </table>
    <input type="submit" value="Submit"  />
	</form>

	<h3>Join Query</h3>
	<form action="/tenniscenter/join/" method="post">
    {% csrf_token %}
    <table>
    {{ join_query.as_table }}
    </table>
    <input type="submit" value="Submit"  />
	</form>

	<h3>Division Query</h3>
	<form action="/tenniscenter/division/" method="post">
    {% csrf_token %}
    <table>
    {{ division_query.as_table }}
    </table>
    <input type="submit" value="Submit"  />
	</form>

	<h3>Aggregation Query</h3>
	<form action="/tenniscenter/aggregation/" method="post">
    {% csrf_token %}
    <table>
    {{ aggregation_query.as_table }}
    </table>
    <input type="submit" value="Submit"  />
	</form>

{% endblock %}